<div class="content-wrapper">
	<h1>{{page.title}}</h1>
	<p>{{page.body}}</p>
	
	<h2>Retriving data from Mangolab service</h2>
	<p><input type="text" ng-model="userInfo.fname" size="30"></p>	
	<table>		
		<thead><tr><th>First name</th><th>Last name</th><th>Company</th></tr></thead>
		<tbody>
			<tr ng-repeat="userInfo in userDetails | filter:userInfo"><td>{{userInfo.fname}}</td><td>{{userInfo.lname}}</td><td>{{userInfo.company}}</td></tr>
		</tbody>
	</table>	

</div>
<div class="content-bottom">
	<div ng-include src="'app/templates/contentBottom.html'"></div>
</div>