<h1>{{page.title}}</h1>
<p>{{page.body}}</p>

<div ng-controller="loginController">
	<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
	<form name="loginForm" ng-submit="loginSubmit(loginForm.$valid)" novalidate>
		<div class="form-item">
			<input type="text" name="username" placeholder="Username" ng-model="user.username" required>
			<div ng-show="loginForm.username.$error.required">Username is required.</div>
		</div>
		<div class="form-item">
			<input type="password" name="password" placeholder="Password" ng-model="user.password">
		</div>
		<div class="form-item"><input type="submit" value="Login"></div>
	</form>
</div>